<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style/born.css" rel="stylesheet">
        <title>陳怡昌的自我介紹-出生</title>
    </head>
    <body>
    </body>
    <div>
        <h1>關於陳怡昌的出生</h1>
    </div>
    <div id="born_word">
        <table>
            姓名:陳怡昌</br>
            生日:1996/04/04</br>
            血型:B</br>
            手機:不告訴你</br>
            住址:新北市永和區XX路XX號X樓
        </table>
    </div>
</html>