<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style/index.css" rel="stylesheet">
        <title>陳怡昌的自我介紹</title>
    </head>

    <body>
            <h1>請問你想了解陳怡昌甚麼呢?</h1>
    </body>
    <div>
        <b id="born_word">出生</b>
        <form action="http://127.0.0.1:3000/born" method="get">
            <input id="btn_born" type="button" onclick="submit()">
        </form>
    </div>
    <div id="school">
        <b id="school_word">學歷</b>
        <form action="http://127.0.0.1:3000/school" method="get">
            <input id="btn_school" type="button" onclick="submit()">
        </form>
    </div>
    
    <div id="work">
        <b id="work_word">經歷</b>
        <form action="http://127.0.0.1:3000/work" method="get">
            <input id="btn_work" type="button" onclick="submit()">
        </form>
    </div>
    <div id="dream">
        <b id="dream_word">夢想</b>
        <form action="http://127.0.0.1:3000/dream" method="get">
            <input id="btn_dream" type="button" onclick="submit()">
        </form>
    </div>
    <div id="message">
            <form action="http://127.0.0.1:3000/message" method="get">
                <input id="btn_message" type="button" onclick="submit()">
            </form>
        </div>
</html>