<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style/school.css" rel="stylesheet">
        <title>陳怡昌的自我介紹-學歷</title>
    </head>
    <body>
    </body>
    <div>
        <h1>關於陳怡昌的學歷</h1>
    </div>
    <div id="school_word">
        <table>
            國小:臺北市立永安國民小學</br>
            國中:台北市立大直高中國中部</br>
            高中:臺北市立大安高級工業職業學校 電子科</br>
            大學:國立中興大學 資訊科學與工程學系</br>
        </table>
    </div>
</html>