<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style/work.css" rel="stylesheet">
        <title>陳怡昌的自我介紹-經歷</title>
    </head>
    <body>
    </body>
    <div>
        <h1>關於陳怡昌的經歷</h1>
    </div>
    <div id="work_word">
        <table>
            大學時期:育達教育事業集團台中分校  </br>數學輔導學長</br></br>
            畢業後:捷連科技有限公司  </br>系統工程師</br>
        </table>
    </div>
</html>